.container {
  padding: 32px;
  font-family: "SF UI Display";
  height: calc(100vh - 154px);
  overflow-y: auto;

  .title {
    font-style: normal;
    font-weight: 800;
    font-size: 2.222vw;
    line-height: 40px;
    color: #FFFFFF;
  }

  .info {
    font-style: normal;
    font-weight: 800;
    font-size: 1.222vw;
    line-height: 40px;
    color: #FFFFFF;
  }
  @media screen and (max-width: 1024px) {
    .title {
      font-size: 20px;
    }

    .info {
      font-size: 14px;
    }
  }

  .table {
    width: 100%;
    margin-top: 14px;
    border-collapse: collapse;

    th {
      text-align: start;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
      color: #C4C4C4;
      border-bottom: 1px solid #F0F4F8;

      > span {
        margin-left: 8px;
        display: block;
        padding: 6px 0;
      }
    }

    th:first-child {
      width: 70%;
    }

    th:nth-child(2) {
      width: 30%;
    }

    td {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      color: #FFFFFF;
      border-bottom: 1px solid #F0F4F8;

      > span {
        margin-left: 8px;
        display: block;
        padding: 24px 0;
        cursor: pointer;
      }
    }
  }
}